@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
}

.h-webkit-fill-available{
  height: -webkit-fill-available;
}

.encus-preloader.encus-hidden {
  pointer-events: none;
}

@media screen and (max-width: 992px) {
  .encus-animation-1 {
    flex-direction: column;

    .encus-h3 {
      margin-right: 0 !important;
      margin-bottom: 10px !important;
    }
  }
}

@layer utilities {
  .transition-max-height {
    transition: max-height 0.5s ease-in-out;
  }
}
